.logo {
  max-width: 75px;
  margin-right: 10px;
}

.navbar-brand.h1 {
  font-size: 36px;
  color: rgb(84, 237, 102);
}

.navbar-brand.h1:hover {
  color: #fff;
}

.navbar {
  background-color: navy;
  display: flex;
  justify-items: start;
}

body {
  padding-top: 100px;
}

.search-sort {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: row;
}

.search-container,
.sort-container {
  width: 25%;
  text-align: center;
  margin: 0;
}

.search-container {
  margin-top: 20px;
}

.sort-container {
  margin-top: -20px;
  margin-right: 55px;
}

.sortDropdown {
  background-color: aqua;
}

.pokemon-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 20px;
}

.pokemon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 16px 32px;
  font-size: 20px;
  margin: 4px 2px;
  color: rgb(7, 255, 36);
  background-color: rgba(22, 34, 198, 0.875);
}

.pokemon-button:hover {
  transform: scale(1.05);
}

.modal-body p {
  font-size: 20px;
}

.modal-body img {
  width: 200px;
  height: auto;
}

.hidden {
  display: none;
}
